@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";



@media (min-width: $lg) {
  h1 {
    font-size: 3.75rem;
  }

  .header-content__title {
    margin: 0 0 53px;
  }

  .skills__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a1 a1 a2 a3"
      "a4 a5 a5 a6"
      "a7 a8 a9 a6";
  }
}

@media (max-width: 991px) and (min-width: $md) {
  h1 {
    font-size: 2.5rem;
  }

  .header-content__title {
    margin: 0 0 43px;
  }

  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a1 a1 a2"
      "a3 a4 a4"
      "a5 a5 a6"
      "a7 a8 a6"
      "a7 a9 a9";
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.875rem;
  }

  .header-content__title {
    margin: 0 0 43px;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a1 a2"
      "a3 a2"
      "a4 a4"
      "a5 a6"
      "a5 a7"
      "a8 a9";
  }
}
